<div id="followersFollowingContainer">
    <div id="followersFollowingTop">
        <button id="followersFollowingTopBackButton">
            <img src="images/icons/exitArrow.svg">
        </button>
        <div id="followersFollowingTopUsernameLabel">
            username unknown
        </div>
        <div id="followersFollowingSwitch">
            <p id="followersSwitch">Followers</p>
            <p id="followingSwitch">Following</p>
        </div>
    </div>
    <hr>
    <div id="followersFollowingContent">
        <div>
            <div id="followersContainer">
                
            </div>
            <p id="userDoesntHaveFollowers">This user doesn't have any followers.</p>
        </div>
        <div>
            <div id="followingContainer">
                
            </div>
            <p id="userDoesntHaveFollowing">This user doesn't follow anyone.</p>
        </div>
    </div>
</div>
<script src="scripts/util/followersListElement/followersListElement.js"></script>
<script src="scripts/followersFollowing.js"></script>
<link rel="stylesheet" href="css/followers-following.css">