<div id="popupOverlay">
    <div id="popup">
        <div id="popupTitle">
            <span class="special">Login</span> to heart this post.
        </div>
        <div id="popupParagraph">
            On Whintel, you need to be logged into an account to be able to heart posts. Why aren't you!?
        </div>
        <div id="popupButtonsContainer">

        </div>
    </div>
</div>
<script src="scripts/util/popup/popup.js"></script>
<link rel="stylesheet" href="scripts/util/popup/popup.css">