<div id="profileCard">
    <div id="profileCardBanner">
        <img src="images/icons/defaultProfilePadding.svg" id="profileCardProfilePicture">
    </div>
    <div id="profileCardUsername">
        IMPixel
    </div>
    <div id="profileCardInnerContainer">
        <div id="profileCardFollowingFollowersContainer">
            <div id="profileCardFollowersContainer">
                <p class="followersNumber">
                    0
                </p>
                &nbsp;
                <p class="followersLabel">
                    Followers
                </p>
            </div>
            <div id="profileCardFollowingContainer">
                <p class="followingNumber">
                    0
                </p>
                &nbsp;
                <p class="followingLabel">
                    Following
                </p>
            </div>
        </div>
        <hr id="profileCardBioDivider">
        <div id="profileCardBio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div id="profileCardFollowButtonContainer">
            <button id="profileCardFollowButton">
                <img id="profileCardFollowButtonIcon" src="images/icons/plusFollow.svg">
                <p id="profileCardFollowButtonLabel">Follow</p>
            </button>
            <button id="profileCardEditButton">
                <img id="profileCardEditButtonIcon" src="images/icons/penIcon.svg">
                <p id="profileCardEditButtonLabel">Edit</p>
            </button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="scripts/util/profileCard/profileCard.css">
<% if(typeof static != "undefined" && static == true) { %>
    <link rel="stylesheet" href="scripts/util/profileCard/profileCardPositionStatic.css">
    <script src="scripts/util/profileCard/profileCardPositionStatic.js"></script>
    <% } else { %>
    <script src="scripts/util/profileCard/profileCard.js"></script>
<% } %>