<div id="settingsContainer">
    <div id="settingsLeft">
        <div id="settingsCategoriesContainer">
            <button class="settingsCategoryButton selected" data-settings-section="profile">
                <p>Profile</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="account">
                <p>Account</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="display">
                <p>Display</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="extra">
                <p>Extra</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
        </div>
    </div>
    <div id="settingsContent">
        <div class="settingsContentSection" id="profileSettings">
            <div class="profileCardPreview">

            </div>
        </div>
        <div class="settingsContentSection" id="accountSettings">

        </div>
        <div class="settingsContentSection" id="displaySettings">

        </div>
        <div class="settingsContentSection" id="extraSettings">

        </div>
    </div>
</div>
<script src="scripts/settings.js"></script>
<link rel="stylesheet" href="css/settings.css">