<div id="settingsContainer">
    <div id="settingsLeft">
        <div id="settingsCategoriesContainer">
            <button class="settingsCategoryButton selected" data-settings-section="profile">
                <p>Profile</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="account">
                <p>Account</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="display">
                <p>Display</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
            <button class="settingsCategoryButton" data-settings-section="extra">
                <p>Extra</p>
                <div class="settingsCategoryArrowContainer">
                    <img src="images/icons/settingsArrow.svg">
                </div>
            </button>
        </div>
    </div>
    <div id="settingsContent">
        <div class="settingsContentSection" id="profileSettings">
            <div id="profileCardPreview">
                <div id="profileCardEditor">
                    <div id="imagesEditor">
                        <div id="profileBannerSettings">
                            <input type="file" id="profileBannerInput" accept="image/png, image/jpeg, image/jpg, image/webp">
                            <label for="profileBannerInput" id="profileBannerInputButton">
                                <img src="images/icons/pickImage.svg">
                            </label>
                        </div>
                        <div id="profileImage">
                            <input type="file" id="profileImageInput" accept="image/png, image/jpeg, image/jpg, image/webp">
                            <label for="profileImageInput" id="profileImageInputButton">
                                <img src="images/icons/pickImage.svg">
                            </label>
                        </div>
                    </div>
                    <material-input allow-spaces="false" placeholder="Username" max-length="20" id="usernameInput"></material-input>
                    <material-text-area placeholder="Bio" max-length="300" id="bioInput"></material-text-area>
                    <button id="saveButtonProfile">
                        <img src="images/icons/save.svg">
                        <p>Save</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="settingsContentSection" id="accountSettings">

        </div>
        <div class="settingsContentSection" id="displaySettings">

        </div>
        <div class="settingsContentSection" id="extraSettings">

        </div>
    </div>
</div>
<%- include("snackbar") %>
<script src="scripts/util/materialInput/materialInput.js"></script>
<script src="scripts/util/materialTextArea/materialTextArea.js"></script>
<script src="scripts/settings.js"></script>
<link rel="stylesheet" href="css/settings.css">
<% if(typeof opened != "undefined" && opened == true) { %>
    <script>
        openSettings();
    </script>
<% } %>
