<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/base") %>
        <link rel="stylesheet" href="css/404.css">
    </head>
    <body>
        <img src="images/404-background.svg">
        <p>404</p>
    </body>
</html>