<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/left.css">
        <link rel="stylesheet" href="css/app-middle.css">
    </head>
    <body>

        <%- include("partials/left", {activeCategory: "home"}) %>





        
        <div id="middle">
            <div id="middle-top">
                <div id="middleTopContent">
                    <div id="middleTopContentLabel">
                        Feed
                    </div>
                    <div id="feedCategories">
                        <div id="feedCategoryRecent" class="feedCategory selected">
                            Recent
                        </div>
                        <div id="feedCategoryFollowing" class="feedCategory">
                            Following
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div id="postsContainer"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="scripts/util/util.js"></script>
        <script src="scripts/util/http.js"></script>
        <script src="scripts/util/postDisplayer/postDisplayer.js"></script>
        <script src="scripts/util/automaticPostManager/automaticPostManager.js"></script>
        <script src="scripts/app.js"></script>
        <%- include('partials/profileCard'); %>
        <%- include("partials/popup.ejs") %>
    </body>
</html>