<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/marked.css">
    <%- include('partials/base'); %>
</head>
    <body>
        <%- include("partials/left", {activeCategory: "post"}) %>

        <div id="editorInnerContainer">
            <div id="editorContainer">
                <div id="editor">
                    <material-input margin-top="18px" id="editorTitle" placeholder="Short title"></material-input>
                    <rich-text-area height="200px" id="editorContent" placeholder="Post markdown">Type your markup here.</rich-text-area>
                    <div id="markupResult"></div>
                </div>
                <button id="confirmPost">
                    <img src="images/icons/plusPost.svg">
                    <p>
                        Post
                    </p>
                </button>
            </div>
        </div>
    </body>








    
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="scripts/util/util.js"></script>
    <script src="scripts/util/smartDropdown/smartDropdown.js"></script>
    <script src="scripts/util/uploadedImageEditor/uploadedImageEditor.js"></script>
    <script src="scripts/util/materialInput/materialInput.js"></script>
    <script src="scripts/util/materialTextArea/materialTextArea.js"></script>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/editor.js"></script>
    <script src="scripts/util/richTextArea/richTextArea.js"></script>
</html>