<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/login-signup.css">
    </head>
    <body>
        <img src="images/auth-background.svg" id="background" draggable="false">
        <div id="form">
            <div id="formTitle">
                Login
            </div>
            <div>
                <p class="label">Username</p>
                <input id="usernameInput">
            </div>
            <div>
                <p style="margin-top: 20px;" class="label">Password</p>
                <input type="password" id="passwordInput">
            </div>
            <button id="confirmButton">Login</button>
            <div id="registerButtonContainer">
                Don't have an account yet?
                <a id="registerButton" href="/register">Register</a>
            </div>
        </div>
    </body>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/auth/login.js"></script>
</html>

