<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <link rel="stylesheet" href="css/login-signup.css">
        <%- include('partials/base'); -%>
    </head>
    <body>
        <div id="right">
            <div id="form-container">
                <h1 id="form-header">Register</h1>
                <input id="usernameInput" type="text" autocorrect="off" autocapitalize="off" spellcheck="false">
                <input id="passwordInput" type="password">
                <div id="buttonsDiv">
                    <button id="buttonRegister">Register</button>
                    <button id="buttonLogin">Login</button>
                </div>
            </div>
        </div>
        <div id="left">
            W
        </div>
    </body>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/auth/signUp.js"></script>
</html>

