@font-face {
    font-family: euclid;
    src: url("/fonts/euclid/bold.ttf");
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}
p {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 300px;
    font-family: euclid;
    margin: 0;
}