#followersFollowingContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 80px;
}
#followersFollowingTop {
    display: flex;
    align-items: center;
    position: relative;
    height: 38px;
}
#followersFollowingSwitch {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}
#followersFollowingSwitch > p {
    color: #d1d1d1;
}
#followersFollowingTopBackButton {
    height: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#followersFollowingTopBackButton > img {
    height: 100%;
}
#followersFollowingTopUsernameLabel {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 900;
}
#followersContainer, #followingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#followersFollowingSwitch > p {
    margin-left: 10px;
    color: var(--theme-color);
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}
#followersFollowingSwitch > p:first-child {
    margin-left: 0px;
}
#userDoesntHaveFollowers, #userDoesntHaveFollowing {
    text-align: center;
    color: var(--disabled-text);
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}