.dropdown {
    background-color: white;
    border: 2px solid #d1d1d1;
    padding: 3px;
    padding-inline: 5px;
    line-height: 100%;
    display: flex;
    user-select: none;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    font-family: euclid;
    color: black;
    box-sizing: border-box;
    height: 35px;
}

.dropdownIconContainer {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}
.dropdownIcon {
    height: 8px;
    transform: rotate(0deg);
    transition: transform 0.2s;
    filter: brightness(0);
    -webkit-filter: brightness(0);
    margin-right: 5px;
}
.dropdownOptions {
    overflow-y: hidden;
    height: 0px;
    position: absolute;
    cursor: pointer;
    padding-inline: 10px;
    background-color: white;
    outline: 2px inset black;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
    margin-top: 10px;
    border-radius: 3px;
    z-index: 1001;
    -webkit-transition: height 0.5s, opacity 0.5s;
    -moz-transition: height 0.5s, opacity 0.5s;
    -ms-transition: height 0.5s, opacity 0.5s;
    -o-transition: height 0.5s, opacity 0.5s;


}
.dropdownOption {
    line-height: 34px;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.dropdownLabel {
    font-size: 25px;
    line-height: 100%;
}