.tab-switch-container {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px var(--theme-color) solid;
    
}
.tab {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--disabled-text);
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2;
    -moz-transition: background-color 0.2;
    -ms-transition: background-color 0.2;
    -o-transition: background-color 0.2;
}
.tab:hover {
    background-color: var(--hovered-background);
}
.tab.selected {
    font-weight: 500;
    color: var(--theme-color);
    background-color: var(--selected-background);
}